@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #000;
	color: #000;
	font-family: Arial;
	font-size: 12px;
}
.body{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
	background-image: url("bg-3.jpg");
	background-size: cover;
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
	opacity: 0.7;
}
.header{
	position: relative;
	padding: 20px;
	z-index: 2;
}

.header div{
	color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight:1000;
	
}

.header div span{
	color: #fff !important;
}
.module{
	position: relative;
	top: calc(50% - 300px);
	left: calc(50% - 225px);
	height: auto;
	width: 450px;
	padding: 10px;
	border-radius: 10px;
	background: rgb(255, 255, 255);
	background-color:  rgba(255, 255, 255, 0.85);
	text-align: center;
}
.module form {
	width: 100%;
	margin: 0 auto;
}

.module label, select {
	display: inline-block;
}
.module label{
	width: 30%;
	text-align: center;
	border-radius: 5px;
	color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 800;
	padding: 10px;
}
.module label + select {
	width: 60%;
	margin: 0 auto;
}

.module select {
	width: 60%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 10px;
	cursor: pointer;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
}

.module input[type=submit]{
	width: 260px;
	height: 35px;
	background: #262626;
	border: 1px solid #000;
	cursor: pointer;
	border-radius: 10px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.module input[type=submit]:hover{
	opacity: 0.8;
}

.module input[type=submit]:active{
	opacity: 0.6;
}

.module input[type=submit]:focus{
	outline: none;
}